body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    background-color: #111828;
    color: #fff;
}
 
ul, li, a{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
}
 
.navbar {
    font-size: 22px;
    background-color: #030617;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 85px;
}
 
.navbar > ul {
    display: flex;
    gap: 30px;
}
 
.nav-selected{
    font-weight: 900;
}
 
.nav-light{
    color: rgb(180, 180, 180);
}

.mainPageContainer{
    margin-top: 15vh;
    padding-inline: 85px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.mainPageContainer > div {
    max-width: 600px;
}